In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score
from mpl_toolkits.mplot3d import Axes3D

In [9]:
# Read the existing 'Automobile.csv' file into a DataFrame
data = pd.read_csv('Automobile_Final_1.csv')

# Read the new CSV file containing additional entries
new_data = pd.read_csv('data_3a.csv')

# Define a mapping of manufacturers to their corresponding origin
manufacturer_to_origin = {
    #japan
    'Toyota': 'japan',
    'Subaru': 'japan',
    'Isuzu': 'japan',
    'Mitsubishi': 'japan',
    'Honda': 'japan',
    'Suzuki': 'japan',
    'Lexus': 'japan',
    'Infiniti': 'japan',
    'Acura': 'japan',
    'Mazda': 'japan',
    #europe
    'Volkswagen': 'europe',
    'Opel': 'europe',
    'BMW': 'europe',
    'Renault': 'europe',
    'Audi': 'europe',
    'Mercedes-Benz': 'europe',
    'Peugeot': 'europe',
    'Citroen': 'europe',
    'Skoda': 'europe',
    'Fiat': 'europe',
    'Volvo': 'europe',
    'Seat': 'europe',
    'Rover': 'europe',
    'Alfa Romeo': 'europe',
    'Land Rover': 'europe',
    'Iveco': 'europe',
    'Lancia': 'europe',
    'Mini': 'europe',
    'Porsche': 'europe',
    'Dacia': 'europe',
    'Jaguar': 'europe',
    'Buick': 'europe',
    #usa
    'Ford': 'usa',
    'Chevrolet': 'usa',
    'Chrysler': 'usa',
    'Dodge': 'usa',
    'Jeep': 'usa',
    'Cadillac': 'usa',
    'Pontiac': 'usa',
    'Lincoln': 'usa'
   
}

# Filter the new entries based on manufacturer name and select relevant features
for manufacturer, origin in manufacturer_to_origin.items():
    manufacturer_entries = new_data[new_data['Make'].str.contains(manufacturer)] 
    manufacturer_entries = manufacturer_entries[['Model', 'Year', 'Engine HP', 'Engine Cylinders', 'city mpg']] #'displacement'
    
    # Rename the columns to match the columns in the 'Automobile.csv' file
    manufacturer_entries.rename(columns={'Model': 'name', 'Year':'model_year', 'Engine Cylinders':'cylinders', 'Engine HP':'horsepower', 'city mpg':'mpg'}, inplace=True)
   # engine_capacity
    
    # Assign the origin
    manufacturer_entries['origin'] = origin
    # Append to the existing DataFrame
    data = pd.concat([data, manufacturer_entries], ignore_index=True)

In [29]:
data.to_csv('Automobile_Final_2.csv', index=False)

In [31]:
data = pd.read_csv('Automobile_Final_1.csv')

In [32]:
df = pd.DataFrame(data)

# Mengelompokkan mobil berdasarkan origin dan menghitung jumlah mobil dalam setiap origin
grouped_origin = df.groupby('origin').size().reset_index(name='count')

print(grouped_origin)

   origin  count
0  europe   2798
1   japan   3301
2     usa   3813

In [18]:
#usa_data_without_nan = data[data['origin'] == 'usa'].dropna()
#usa_data_without_nan

In [33]:
data.columns

Index(['name', 'mpg', 'cylinders', 'displacement', 'horsepower', 'weight',
       'acceleration', 'model_year', 'origin'],
      dtype='object')

In [34]:
# Drop the specified columns
data.drop(columns=['displacement', 'weight', 'acceleration'], inplace=True)

In [35]:
# Drop rows with NaN values
data.dropna(inplace=True)

In [36]:
# Iterate through each column
for column in data.columns:
    # Filter NaN values in the column
    nan_values = data[column][data[column].isna()]
    
    # Display column name and corresponding NaN values
    print(f"NaN values in column '{column}':")
    print(nan_values)
    print()

NaN values in column 'name':
Series([], Name: name, dtype: object)

NaN values in column 'mpg':
Series([], Name: mpg, dtype: float64)

NaN values in column 'cylinders':
Series([], Name: cylinders, dtype: float64)

NaN values in column 'horsepower':
Series([], Name: horsepower, dtype: float64)

NaN values in column 'model_year':
Series([], Name: model_year, dtype: int64)

NaN values in column 'origin':
Series([], Name: origin, dtype: object)

In [37]:
df = pd.DataFrame(data)

# Mengelompokkan mobil berdasarkan origin dan menghitung jumlah mobil dalam setiap origin
grouped_origin = df.groupby('origin').size().reset_index(name='count')

print(grouped_origin)

   origin  count
0  europe   2791
1   japan   3273
2     usa   3780

In [38]:
data.to_csv('Automobile_Final_2.csv', index=False)

In [39]:
# Convert 'model_year' column to string
data['model_year'] = data['model_year'].astype(str)

# Conditionally update the 'model_year' column
data['model_year'] = data['model_year'].apply(lambda x: '19' + x if len(x) == 2 and int(x) < 83 else x)

# Display the DataFrame to verify the changes
print(data)

                           name   mpg  cylinders  horsepower model_year origin
0     chevrolet chevelle malibu  18.0        8.0       130.0       1970    usa
1             buick skylark 320  15.0        8.0       165.0       1970    usa
2            plymouth satellite  18.0        8.0       150.0       1970    usa
3                 amc rebel sst  16.0        8.0       150.0       1970    usa
4                   ford torino  17.0        8.0       140.0       1970    usa
...                         ...   ...        ...         ...        ...    ...
9907                   Town Car  16.0        8.0       239.0       2011    usa
9908                   Town Car  16.0        8.0       239.0       2011    usa
9909                   Town Car  16.0        8.0       239.0       2011    usa
9910                   Town Car  16.0        8.0       239.0       2011    usa
9911                     Zephyr  17.0        6.0       221.0       2006    usa

[9844 rows x 6 columns]

In [40]:
data.to_csv('Automobile_Final_2.csv', index=False)

In [41]:
df = pd.DataFrame(data)

# Mengelompokkan mobil berdasarkan origin dan menghitung jumlah mobil dalam setiap origin
grouped_origin = df.groupby('origin').size().reset_index(name='count')

print(grouped_origin)

   origin  count
0  europe   2791
1   japan   3273
2     usa   3780